{% extends 'layoutEmail.html.twig' %}


{% block body %}

    <h1>New episode {{ episode.number}} : {{ episode.title }} created for season {{ episode.season.number }} for program {{ episode.season.program.title }}</h1>
    <p>Hello, the new episode {{ episode.title }} has been created on Wild Series</p>
    <p>Synopsis : {{ episode.synopsis }}</p>
    <a href="http://localhost:8000{{ path('program_episode_show', {'programSlug': episode.season.program.slug, 'seasonID': episode.season.id, 'episodeSlug': episode.slug}) }}">C'est par la !</a>

{% endblock %}