{% extends "base.html.twig" %}

{% block body %}

<h1>{{ program.title }}</h1>

<h2>Saison : {{ season.number }}</h2>

<h3>Episode {{ episode.number }} : {{ episode.title }}</h3>

<p>{{ episode.synopsis }}</p>
    {% if app.user %}
        <h3>Ajouter un commentaire</h3>
        {% include 'comment/add_comment.html.twig' %}
        <h3>Liste des commentaires</h3>
        <ul>
        {% for comment in comments %}
            <li>
                <h5>{{ comment.author.username }}</h5>
                <p>{{ comment.comment }}</p>
                <p>Note: {{ comment.rate }}</p>
                {% if (comment.author == app.user or is_granted('ROLE_ADMIN')) %}
                    {% include 'comment/_delete_comment.html.twig' %}
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}