{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
    <h1 class="title-page">Toutes nos séries </h1>
    <a href="{{ path('program_new') }}">Ajouter une nouvelle série</a>
    {{ app.session.get('total') }}
    <section class="program">
        {% for program in programs %}

            <div class="card-program">
                <div class="card-img">
                    <img src="{{ program.poster }}" alt="">
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <h2>{{ program.title }}</h2>
                    </div>
                    <div class="card-content">
                        <p>{{ program.synopsis|length > 50 ? program.synopsis|slice(0, 100) ~ '...' : program.synopsis }}</p>
                        
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('program_show', { programSlug: program.slug}) }}">Voir la fiche</a>
                    </div>
                </div>
            </div>
        {% else %}
            Aucune série trouvée.
        {% endfor %}
    </section>
{% endblock %}