<nav class="">
    <h3><a class="" href="{{ path('app_index')}}">Wild Séries</a></h3>
    <div class="list-menu">
      <ul class="">
        <li class="">
          <a class="" aria-current="page" href="{{ path('program_index')}}">Programmes</a>
        </li>
        <li>{{ component('navbar') }}</li>
        <li class="">
          <a class="" aria-current="page" href="{{ path('actor_index')}}">Acteurs</a>
        </li>
      </ul>
    </div>
    {% if app.user %}
      <div>
          <a href="{{ path('my-profile') }}"> Mon compte</a>
          <a href="{{ path('app_logout') }}"> Se déconnecter</a>
      </div>

    {% else %}
      <div>
          <a href="{{ path('app_login') }}"> Se connecter</a>
          <a href="{{ path('app_register') }}"> S'inscrire</a>
      </div>
      
    {% endif %}
</nav>